@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");

.sb ::-webkit-scrollbar {
  width: 2em !important;
}

.sb ::-webkit-scrollbar-track {
  background: "#2dd4bf";
  border-radius: 100vw;
  margin-block: 0.5em;
}

.sb ::-webkit-scrollbar-thumb {
  background: "#2dd4bf";
  border-radius: 100vw;
}

.sb ::-webkit-scrollbar-thumb:hover {
  background: "#2dd4bf";
  border-radius: 100vw;
}
